<:Body>
  {{ [['Yesterday', 'teal'], ['Today', 'blue'], ['Blockers', 'orange']].each_with_index do |pair, index| }}
    <:section label="{{ pair.first }}" color="{{ pair.last }}" index="{{ index }}" />
  {{ end  }}

<:Section>
  <div class="ui raised segment">
    <div class="ui {{ attrs.color  }} ribbon label">{{ attrs.label  }}</div>
    <div class="ui right internal attached rail">
      <a href="/daily/section/{{ attrs.index  }}/edit" class="ui icon button right floated">
        <i class="write icon"></i>
      </a>
    </div>

    <div class="ui divided list">
      {{ (1..(attrs.label.length)).to_a.each do |index| }}
        <:task value="allo la terre?" index="{{ index }}" />
      {{ end  }}
    </div>
  </div>

<:Task>
  <div class="item">
    <i class="right triangle icon"></i>
    <div class="content">
      <p>{{ attrs.value }} #{{ attrs.index  }}</p>
    </div>
  </div>
