<:Body>
  {{ if notice_available? }}
    {{ if page._reloading }}
      <div class="ui message blue">Reloading...</div>
    {{ elsif channel.status == :reconnecting }}
      <div class="ui message yellow">
        Connection Lost... {{ channel.error }}...
        {{ if channel.reconnect_interval }}
          Reconnecting in {{ (channel.reconnect_in / 1000.0).round }} sec
        {{ end }}
      </div>
    {{ elsif page._reconnected }}
      <div class="ui message purple">Reconnected!</div>
    {{ elsif page._the_notice }}
      <div class="ui message green">
        <p>{{ page._the_notice }}</p>
      </div>
    {{ elsif page._the_error }}
      <div class="ui message red">
        <p>{{ page._the_error }}</p>
      </div>
    {{ end }}
  {{ else }}
    <h2 class="ui header header-title">
      {{ yield }}
    </h2>
  {{ end }}
