<div class="item">
  <div class="content">
    <div class="ui form">
      <div class="ui grid">
        <div class="fourteen wide column">
          <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" checked="{{ marked_pending }}">
            </div>
            <span class="{{ if completed? }}task-completed{{ end }}">{{ label }}</span>
          </div>
        </div>
        <div class="two wide column">
          <button class="circular red ui tiny icon button" e-click="remove_task">
            <i class="icon remove"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
