<:Title>
  {{ model.label }}

<:Header>
  <i class="calendar outline icon"></i>
  Update Daily

<:Body>
  <form class="ui form" e-submit="add_task" role="form">
    <h4 class="ui dividing header">{{ model.label }}</h4>
    <div class="one field">
      <div class="field">
        <div class="ui grid">
          <div class="fourteen wide column">
            <input type="text"
                   placeholder="Enter new task"
                   value="{{ page._new_task!._label }}"
                   autofocus
                   required>
          </div>
          <div class="two wide column">
            <button type="submit" class="circular blue ui tiny icon button">
              <i class="icon add"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui divided list">
          {{ model.daily_tasks.each do |task| }}
            <div class="item">
              <div class="content">
                <div class="ui grid">
                  <div class="fourteen wide column">{{ task.label }}</div>
                  <div class="two wide column">
                    <button class="circular red ui tiny icon button"
                       e-click="task.destroy">
                      <i class="icon remove"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </form>
