<:Body>
  {{ %w[Yesterday Today Blockers].each do |label| }}
  <div class="ui raised segment">
    <div class="ui blue ribbon label">
      {{ label  }}
    </div>
    <div class="ui icon button">
      <i class="write icon"></i>
    </div>

    <div class="ui divided list">
      {{ (1..(label.length)).to_a.each do |index| }}
      <div class="item">
        <i class="right triangle icon"></i>
        <div class="content">
          <p>
            investigated can't hang-up calls #{{ index }}
          </p>
        </div>
      </div>
      {{ end  }}
    </div>
  </div>
  {{ end  }}
